<html>
<head>
<title>Encryptor/Decryptor</title>
</head>
<body>
<marquee>Text which was encrypted using this application alone should be used for decryption</marquee>
<hr>
<center><h1>Encryption & Decryption</h1></center><hr>
<center>
<form method="POST">
Type the text you want to encrypt/decrypt<br><br><input type="text"name="text"><br><br>
    <input type="submit" name="submit" value="Encrypt">&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="submit" value="Decrypt"><br><br>
</form></center>
<hr><br>
<fieldset><legend><big><b>Instructions:</b></big></legend>
<font size="4">What operation do you want to perform....???<br><br>
<b>1.Encryption.<br><br>
2.Decryption.</b><br><br>
If you want to <b>encrypt</b> your message,type the message in the textbox and click encrypt button.<br><br>
Rather,if you want to <b>decrypt</b> your message which is in encrypted format,type the message in the textbox and click decrypt button.</fireldset></font>

</body>
</html>
